/* * {
    border: 1px solid red;
} */
.font-principal {
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: grey;
}
.nav-pills .nav-link {
    background-color: white;
}
.nav-pills .nav-link-active, .nav-pills .show > .nav-link {
    background-color: grey;
}
.nav-link {
    color: white;
}
.nav-link:focus, .nav-link:hover {
    color: rgb(217, 212, 212);
}
/*  */